* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #404041;
    background-color: #414042;
}

h1 {
    font-family: 'Oswald', cursive;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .06em;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}
 
h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
}

h5 {
    font-family: 'Oswald', sans-serif;
}

p {
    line-height: 1.3em;
}

a {
    color: #404041;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

a img:hover {
    opacity: .85;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

a:hover {
    text-decoration-color: #f26522;
}

ul {
    list-style-type: none;
}

main {
    opacity: 1;
    animation: fade 1.5s;
    background: #fff;
}

#favorite-icon {
    cursor: pointer;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-viewport{
    width: device-width;
}

.invisible {
    visibility: hidden;
    /* opacity: 0;
    animation: fade 1.5s; */
}

.visible {
    opacity: 1;
    animation: fade 1.5s;
}

.hidden {
    display: none;
}