* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #404041;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
}

h5 {
    font-family: 'Oswald', sans-serif;
}

#logo-image {
    height: 30px;
}

a {
    color: #404041;
}

a:hover {
    color: #f26522;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #d1d1d1;
}


/* INDEX STYLING */

#logo-image-index {
    height: 40px;
}

.index-background {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/index-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index-header {
    display: flex;
    width: 1180px;
    height: 60px;
    margin: 40px 0 0 0;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 1200px;
}

.index-container h1 {
    color: white;
    margin: 160px 0 80px 0;
    width: 780px;
    text-align: center;
    /* position: fixed;
    top: 100px; */

}

.muir {
    font-size: .75em;
}

.user-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* visibility: hidden; */
    /* background-color: rgba(255, 255, 255, .15);
    border-radius: 20px;
    padding: 30px; */
    /* position: relative;
    bottom: 0; */
}

.hidden {
    display: none;
}

#name {
    width: 300px;
    height: 30px;
    margin-bottom: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border: none;
    background-color: rgba(0, 0, 0, .5);
    border-bottom: 2px solid #fff;
    transition: 0.2s all linear;
    outline: none;
    padding: 0 5px 0 5px;
    font-size: .8em;
    text-align: center;
    color: #fff;
    
    position: relative;
    top: 2px;
}

#name:focus {
    border-bottom: 2px solid #f26522;
}

#name::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, .75);
}

.index-link {
    color: #fff;
    font-size: .8em;
    text-decoration: none;
}

.index-link:hover {
    text-decoration: underline;
}


#submit {
    width: 180px;
    height: 30px;
    border-radius: 15px;
    justify-content: center;
    outline: none;
    background-color: white;
    color: black;
    border: 0px;
}

#submit:hover {
    cursor: pointer;
    background-color: #f26522;
    color: white;
}

#submit:active {
    transform: translateY(1px);
}

#destination-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#destination-dropdown {
    -webkit-border-radius: 0px;
    
    width: 310px;
    height: 30px;
    color: #000;
    
    border: 2px solid white;
    color: white;
    text-align: center;
    padding: 0 5px 0 5px;
    font-size: .8em;
    border-radius: 0px;
    outline: none;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    top: 5px;
    margin-bottom: 71px;
}


/* MAP PAGE STYLING */

.hero {
    background-image: url(./assets/map-hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 80px;
    display: flex;
    width: 960px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
 
.filters {
    background-color: rgb(121, 152, 161);
    display: flex;
    justify-content: center;
}

.filters-container {
    display: flex;
    width: 1180px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(121, 152, 161);
}

#miles-filter {
    background-color: rgb(156, 121, 161);
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#elevation-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    background-color: yellow;
}

.filter-input {
    background-color: rgb(59, 86, 94);
    margin-left: 10px;
}

.filter-icon {
    height: 30px;
}

#filter-form {
    background: rgb(31, 146, 41);
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.checkbox {
    margin-right: 5px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 2px;
}

.checkbox:checked {
    border: 6px solid black;
}

.display-photo {
    width: 200px;
}

.run-container-all {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.run-container {
    background-color: #E8E8E8;
    margin: 10px 0;
    width: 1180px;
    display: flex;
    height: 280px;
}

.image-container {
    height: 280px;
    width: 280px;
}

.display-photo {
    height: 280px;
    width: 280px;
}

.run-info-container {
    padding: 20px;
    width: 620px;
    /* height: px; */
    overflow: hidden;
} 

.run-info-container p {
    margin-top: 20px;
}

.run-icon-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
} 



/* Route page styling */
.route-map {
    width: 100%;
    /* background-color: #f7f7f7; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 40px; */
}

#route-map {
    width: 780px;
}

#elevation-details {
    width: 100%;
    display: flex;
    justify-content: center;
}

#elevation-chart {
    width: 780px;
}

#route-details {
    margin: 40px 0 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.route-details-container {
    width: 780px;
}

.route-details-container h5 {
    float: right;
    position: relative;
    top: -105px;
    color: #666;
}

#detail-photo-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#detail-photo-flex {
    width: 780px;
    height: 520px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

#more-info-container {
    margin: 80px 0 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#more-info-section {
    width: 780px;
}

/* nonsense jquery */

#slider-range {
    width: 150px;
}