* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
}

h5 {
    font-family: 'Oswald', sans-serif;
}

#logo-image {
    height: 30px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

/* INDEX STYLING */

#logo-image-index {
    height: 40px;
}

.index-header {
    background-color: transparent;
}

.index-background {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/index-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index-header {
    display: flex;
    width: 1180px;
    height: 60px;
    margin: 40px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 1200px;
}

.index-container h1 {
    color: white;
    margin: 160px 0 80px 0;
    width: 780px;
    text-align: center;
}

.muir {
    font-size: .75em;
}

.user-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* visibility: hidden; */
}

.hidden {
    display: none;
}

#name {
    width: 300px;
    height: 30px;
    margin-bottom: 40px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    transition: 0.2s all linear;
    outline: none;
    padding: 0 5px 0 5px;
    font-size: .8em;
    text-align: center;
    color: #fff;
    
    position: relative;
    top: 2px;
}

#name::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, .75);
}

.index-link {
    color: #fff;
    font-size: .8em;
    text-decoration: none;
}

.index-link:hover {
    text-decoration: underline;
}


#submit {
    width: 180px;
    height: 30px;
    border-radius: 15px;
    justify-content: center;
    outline: none;
    background-color: white;
    color: black;
    border: 0px;
}

#submit:hover {
    background: #333;
    color: #fff;
}

#submit:active {
    transform: translateY(1px);
}

#destination-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#destination-dropdown {
    -webkit-border-radius: 0px;
    
    width: 310px;
    height: 30px;
    color: #000;
    
    border: 2px solid white;
    color: white;
    text-align: center;
    padding: 0 5px 0 5px;
    font-size: .8em;
    border-radius: 0px;
    outline: none;
    background-color: rgba(0, 0, 0, .25);
    position: relative;
    top: 5px;
    margin-bottom: 73px;
}


/* MAP PAGE STYLING */

.hero {
    background-image: url(./assets/map-hero.svg);
    background-color: beige;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 80px;
    display: flex;
    width: 1180px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #d1d1d1;
}

.display-photo {
    width: 200px;
}

.run-container-all {
    background-color: salmon;
    margin: 20px 0;
}

.run-container {
    background-color: lightblue;
    margin: 20px;
}

.run-icon-container {
    border: 1px solid black;
}

/* Route page styling */
.route-map {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#route-map {
    width: 980px;
}

#elevation-details {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 80px 0;
}

#route-details {
    margin: 40px 0 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.route-details-container {
    width: 780px;
}

.route-details-container h5 {
    float: right;
    position: relative;
    top: -105px;
    color: #666;
}

#detail-photo-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#detail-photo-flex {
    width: 1180px;
    display: flex;
    justify-content: space-between;
}

#more-info-container {
    margin: 80px 0 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#more-info-section {
    width: 780px;
}

/* nonsense jquery */

#slider-range {
    width: 150px;
}